body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;   /* dark navy */
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
